{% extends 'base.html' %}


{% block content %}
    {% include 'navbar.html' %}



    <div class="row my-2">

        {% for item in student_list %}
        <div class="col-md-3 p-2">
            <div class="card ">
                <div class="card-header">
                    {{item.student}}
                </div>
                <div class="card-body">
                    <strong> note totale : {{item.total}}    </strong>
                    <br>
                    <strong> Rang : {{item.rank}}</strong>
                </div>
              </div>
        </div>
      {% endfor %}
    </div>

    
    
        
    
{% endblock content %}
    